body {
  display: grid;
  padding: 5rem;
  background-color: rgb(251, 241, 251);
  font-family: Arial, sans-serif;
}

/* Main container */
.container-1 {
  background-color: rgb(244, 59, 170);
  display: flex;
  align-items: center;
  gap: 12px;
  flex-wrap: wrap; 
  padding: 1rem;
  border-radius: 0px;
}

/* Navbar */
.navbar-list {
  list-style: none;
  display: flex;
  gap: 16px;
  margin-left: auto;
  padding: 0;
}

.navbar-list li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

/* .navbar-list li a:hover {
  color: yellow;
} */

.btn-pink {
  background-color: rgba(255, 27, 148, 0.707);
}

.btn-pink:hover {
  color: blue;
}


/*The collapse button*/
.navbar-nav {
  size: 10px;
  background-color: rgba(255, 27, 148, 0.707);
  justify-content: left;
  align-items: left;
  padding-left: 2px;
}

.navbar .nav-link {
  color: white !important;
  margin-left: 2px;
}

/* .navbar-toggler-icon {
  border-radius: 2px solid rgba(255, 27, 148, 0.707);
  align-items: center;
  justify-content: center;
} */

/* Title image */
.title-image {
  background-color: rgba(255, 27, 148, 0.707);
  border-radius: 50%;
  padding: 6px;
}

/* Title */
.title {
  background-color: rgba(255, 27, 148, 0.707);
  color: white;
  font-size: 2rem;
  border-radius: 30px;
  padding: 6px 12px;
  text-align: center;
  flex-grow: 1;
}

/* Rectangle background */
.rectangle {
  background-image: url("bg-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0px;
  height: 80px;
  margin-top: 70px;
  color: transparent;
}

/* Capsule content container */
.container-for-capsules-content {
  width: 100%;
  background-color: whitesmoke;
  margin: 100px auto 20px;
  padding: 40px 30px 70px;
  border-radius: 10px;
  text-align: center;
  display: grid;
}

/* Buttons */
.ur-capsule-2-btns {
  margin: 0.5rem;
}

.tworectanglesForCapsule {
  background-color: aliceblue;
  color: black;
  padding: 10px;
  display: grid;
  gap: 10px;
} 


.tworectanglesForCapsule > div {
  background-color: rgba(249, 202, 245, 0.8);
  /* background-color: aliceblue; */
  padding: 10px;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  align-items: start; 
  gap: 10px;   
}

.btn {
  width: 150px;
}
/* .buttons-col {
  background-color: transparent !important;
} */

.col-with-buttons {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: start;
  gap: 10px;            
}


.btn-primary1 {
  background-color: rgba(255, 27, 148, 0.707) !important;
  border: 2px solid white !important;
  color: white !important;
  
}

.btn-primary1:hover {
  background-color: aliceblue !important;
  border: 2px solid rgba(255, 27, 148, 0.707) !important;
  color: rgba(255, 27, 148, 0.707) !important;
}